.caretLine {
	position: relative;
	isolation: isolate;
	z-index: 0;
	display: inline-block;

	div {
		white-space: nowrap;
	}
}

.caret {
	--left: 0;
	--width: 0;
	--show: 0;

	position: absolute;
	z-index: -1;
	background-color: rgba(0, 255, 0, 0.432);
	white-space: pre;
	transform-origin: left;
	transform: translateX(calc(var(--left) * 10%)) scaleX(calc(var(--width) * 10%));
	opacity: var(--show);
	transition: transform 150ms, opacity 200ms;
	top: 0;
	bottom: 0;

	&::after {
		content: "          ";
	}
}

.freeze {
	transition: opacity 200ms;
}

.placeholder {
	display: inline-block;
	white-space: pre;
	width: 0;

	&::after {
		content: " ";
	}
}