@use '../../assets/styles/variables' as *;

.caretLine {
	position: relative;
	isolation: isolate;
	z-index: 0;
	display: inline-block;
	overflow: hidden;

	div {
		white-space: nowrap;
	}
}

.caret {
	--left: 0;
	--width: 0;
	--show: 0;

	position: absolute;
	z-index: -1;
	background-color: var(--bg-blue);
	white-space: pre;
	transform-origin: left;
	transform: translateX(calc(var(--left) * 10%)) scaleX(calc(var(--width) * 10%));
	opacity: var(--show);
	transition: opacity 200ms;
	top: 0;
	bottom: 0;

	&::before {
		content: "          ";
	}
}

.animatable {
	transition: transform 150ms, opacity 200ms;
}

.blink,
.freeze {
	transition: opacity 200ms;
}

.blink {
	background-color: transparent;
	transform: translateX(calc(var(--left) * 10%));

	&::after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		background: currentColor;
		width: 1px;
		animation: #{$duration} steps(2, jump-none) infinite alternate blinkAnim;

		@keyframes blinkAnim {
			from { opacity: 1; }
			to { opacity: 0; }
		}
	}
}

.placeholder {
	display: inline-block;
	white-space: pre;
	width: 0;

	&::after {
		content: " ";
	}
}