@use '../../assets/styles/variables' as *;

.container {
	--output-inline-spacing: 1em;

	display: grid;
	grid-auto-rows: 1fr;
	justify-content: start;
	align-items: center;
	justify-items: stretch;
	grid-template-columns: 100%;
	font-family: $font-mono;
	gap: 1em;
	padding: 1em 0;
	line-height: 1.2;

	&:not(.unlocked) {
		padding: 2em 0;

		>:nth-child(2),
		>:nth-child(3) {
			display: none;
		}
	}
}
