@use '../../assets/styles/variables' as *;

.main {
	--tab-width: calc(2 * max(env(safe-area-inset-left), 1.5em));

	background-color: var(--bg-num-pad);
	color: var(--text-num-pad);
	display: grid;
	grid-template-areas: "num";
	overflow: hidden;

	@media(min-width: #{$tablet}) {
		grid-template-areas: "num extras";
	}

	@media(min-width: #{$widescreen}) {
		border-left: 1px solid var(--subtext-result-area);
	}
}

.num,
.extras {
	grid-area: num;
	display: grid;
	grid-auto-rows: 1fr;

	> * {
		display: flex;
		justify-content: center;
		align-items: stretch;
	}

	button {
		font-size: 1.5em;
		font-weight: bold;
		text-align: center;
		width: 100%;
	}
}

.num {
	grid-template-columns: repeat(4, 1fr);
	padding-right: var(--tab-width);

	>:nth-child(4n) {
		color: var(--symbols-num-pad);
		border-left: 1px solid var(--subtext-result-area);
	}

	@media(min-width: #{$tablet}) {
		padding-right: 0;
	}

	button {
		display: flex;
		justify-content: center;
		align-items: center;
		max-height: 4em;

		&::before {
			content: '';
			padding-bottom: 100%;
			height: 0;
			pointer-events: none;
		}
	}
}

.extras {
	background-color: var(--bg-blue);
	color: var(--text-blue);
	grid-template-columns: repeat(3, 1fr);

	// drawer styles
	position: relative;
	transform: translateX(calc(100% - var(--tab-width)));
	transition: transform $duration;
	padding-left: var(--tab-width);

	@media(min-width: #{$tablet}) {
		transform: none;
		padding-left: 0;
		grid-area: extras;
	}
}

.toggle {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: var(--tab-width);
	box-sizing: content-box;

	button {
		transition: transform $duration;
		padding: 0;
	}

	@media(min-width: #{$tablet}) {
		display: none;
	}
}

.open {
	transform: translateX(0);

	.toggle button {
		transform: scaleX(-1);
	}
}

