@use '../assets/styles/variables' as *;

.main {
	background-color: var(--bg-result-area);
	color: var(--text-result-area);
}

.output {
	display: grid;
	grid-auto-rows: 1fr;
	justify-content: start;
	align-items: center;
	justify-items: stretch;
	grid-template-columns: 100%;
	text-align: right;
}