@use '../assets/styles/variables' as *;

.main {
	background-color: var(--bg-result-area);
	color: var(--text-result-area);

	height: 100%;
	display: grid;
	grid-template-areas:
		"history"
		"output"
		"numpad";
	grid-template-rows: 1fr auto auto;

	@media screen and (min-width: #{$widescreen}) {
		grid-template-areas:
			"history output"
			"history numpad";
		grid-template-rows: 1fr auto;
		grid-template-columns: 500px 1fr;
	}
}

.output {
	grid-area: output;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.numpad {
	grid-area: numpad;
}

.history {
	grid-area: history;
}