.value {
	cursor: default;
}

.hover {
	box-shadow: inset 0 0 0 1px var(--text-num-pad);
}

.hover,
.active {
	> code {
		color: var(--error);
		font-weight: 900;
	}
}

.invalid {
	> code {
		text-decoration: var(--error) line-through;
	}
}