@use '../../assets/styles/variables' as *;

.container {
	position: relative;
	height: 100%;
	transition: transform $duration;
}

.drawer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100vh;
	background-color: var(--bg-num-pad);
	display: flex;
	flex-direction: column;

	@media screen and (min-width: #{$widescreen}) {
		position: static;
	}
}

.history {
	flex: 1;
	display: flex;
	flex-direction: column-reverse;
	overflow: hidden;
}

.line {
	padding: max(env(safe-area-inset-top), 0.5em) max(env(safe-area-inset-left), 1em);
	width: 100%;
	font-family: $font-mono;
}

.toggle {
	padding: 0.5em 1em calc(env(safe-area-inset-bottom) + 1em);
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	width: 100%;
	transition: transform $duration;

	@media screen and (min-width: #{$widescreen}) {
		display: none;
	}
}

.open {
	transform: translateY(calc(100vh - 100%));

	.toggle {
		transform: scaleY(-1);
	}
}