// dark theme
$dark-bg-blue: #0A50A7;
$dark-text-blue: #F1E8EC;

$dark-bg-num-pad: #1A1B20;
$dark-text-num-pad: #989FA6;
$dark-symbols-num-pad: #70B7FD;

$dark-bg-result-area: #272C30;
$dark-text-result-area: #F1E8EC;
$dark-subtext-result-area: #EAEBF1;

$dark-error: #ce47b7;

// light theme
$light-bg-blue: #4791e6;
$light-text-blue: #EBFFFF;

$light-bg-num-pad: #F5F2F6;
$light-text-num-pad: #0B0D0E;
$light-symbols-num-pad: #1973CC;

$light-bg-result-area: #FFFFFF;
$light-text-result-area: #0B0D0E;
$light-subtext-result-area: #7C7C7C;

$light-error: #eb14b5;

// spacings
$spacing-xxxxs: 2px;
$spacing-xxxs: 4px;
$spacing-xxs: 8px;
$spacing-xs: 12px;
$spacing-s: 16px;
$spacing-m: 24px;
$spacing-l: 32px;
$spacing-xl: 40px;
$spacing-xxl: 48px;
$spacing-xxxl: 64px;
$spacing-xxxxl: 96px;
$spacing-xxxxxl: 128px;
$spacing-xxxxxxl: 160px;
